body{
	background:#B3B3B3;
	font-size: 125%;

}

header{
	background: #666666;
	text-align: center;
}

h1{
	color: #fffffe;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}

h2{
	color: #66aa66;
	background: #00d7fa;
}


summary{
	font-style:normal;
}

details{
	font-style: bold;
}


footer{
	background: #666668
}

